.emoji-picker-dropdown {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 10px;
}

.emoji-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
